.hero-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-avatar-image {
  max-width: 100%;
  height: auto;
}

@media (max-width: 760px) {
  .hero-section-container {
    padding: 10px;
  }
  .hero-avatar-image {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .hero-section-container {
    flex-direction: column;
    padding: 5px;
  }
  .hero-avatar-image {
    width: 90%;
  }
}